[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DVS"]
	path = DVS
	url = https://github.com/mahdinouraie/dvs
[submodule "stabplot"]
	path = stabplot
	url = https://github.com/mahdinouraie/stabplot
